<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    
    <!--Invoice document related Information-->
    <!--License Related setting-->
    <add key="LICESSE_KEY" value="KiYjMDZBQVJGUjI1NDVOMVpMMnlBU0Q=1" />
    <add key="LICESSE_VALIDITY" value="fiYjMzEvMTIvMjAyMDNQc2RDKg==1" />
    
    <!--Database path setting (Single (SQlite) or Shared  (SQL Server)) -->
    <!--<add key="APP_RUN_MODE" value="Single" />-->
    <add key="APP_RUN_MODE" value="Shared" />
    <!-- SQL Server database connectivity -->
    <!--<add key="SQL_SERVER_CONNECTION_STRING" value="Data Source=DESKTOP-B2K0R1V\SQLEXPRESS; Initial Catalog=EagleEye; Integrated Security = true;" />-->
    <!--<add key="SQL_SERVER_CONNECTION_STRING" value="Data Source=DESKTOP-B2K0R1V; Initial Catalog=EagleEye; User ID=sa;Password=India@901;" /> -->
    <!--<add key="SQL_SERVER_CONNECTION_STRING" value="Data Source=mssql5.websitelive.net; Initial Catalog=goelankush2002_EagleEye;User ID=goelankush2002_EagleEye;Password=India@901" />-->
    <add key="SQL_SERVER_CONNECTION_STRING" value="Data Source=mssql5.websitelive.net; Initial Catalog=7140_EagleEye_RB;User ID=7140_EagleEye_RB;Password=India@290609" />
      <!-- SQLLite connectivity -->
    <add key="CONFIG_DB_PATH" value="N" />
    <add key="DB_PATH" value="C:/Program Files (x86)/DBS/EagleEye/DataFile/EagleEyeDB.db" />
    <add key="DB_FILE_NAME" value="EagleEyeDB.db" />

    <!--  client logo image path-->
    <add key="COMPANY_LOGO" value="C:/Program Files (x86)/DBS/EagleEye/Images/Company_logo.png" />

  <!--Last Login User Info-->
    <add key="LAST_LOGIN_USER" value="" />
    <add key="PWD" value="" />
    
    
    <!-- for Auto backup ( backup at first login allowed or not )-->
    <add key="AUTO_BACKUP_ALLOWED" value="N" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>